{% extends 'base.html.twig' %}

{% block content %}
{%if cartridges %}
<div class="tab-content">
  <div id="cartridges" class="tab-pane fade in active">
    <table class="table table-bordered table-striped table-condensed">
   <caption>
      <h4>Cartouches en stock</h4>
   </caption>
   <thead>
      <tr>
            <th>Marque</th>
            <th>Modele</th>
            <th>Type</th>
            <th>Quantite</th>
            <th>Date de réapprovisionnement</th>
            <th>Modele Imprimante</th>
            <th>Commande en cours ?</th>
      </tr>
   </thead>
   <tbody>
   {% for cartridge in cartridges %}
   <tr>
    <td>{{cartridge.marque}}</td>
    <td>{{cartridge.modele}}</td>
    <td>{{cartridge.type}}</td>
    <td>{{cartridge.quantite}}</td>
    <td>{{cartridge.reapprovisionnement|date("m/d/Y")}}</td>
    <td>{% for printer in cartridge.printers %}
      {{ printer.modele }}{% if not loop.last %}, {% endif %}
    {% endfor %}</td>
    <td>{{cartridge.statuscommande}}</td>
    <td><a href="{{ path('editcartridgepage', { 'id': cartridge.id }) }}" class="btn btn-info btn-xs" title="Edit"><span class="glyphicon glyphicon-edit"></span>
    </a>
    <button type="button" class="btn btn-danger btn-xs" title="Delete" data-toggle="modal" data-target="#cartridgeDialog{{ cartridge.id }}"><span class="glyphicon glyphicon-remove"></span>
                        </button>
                        <div class="modal fade" id="cartridgeDialog{{ cartridge.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        <h4 class="modal-title" id="myModalLabel">Confirmation nécessaire</h4>
                                    </div>
                                    <div class="modal-body">
                                        Voulez-vous supprimer réellement cette cartouche ?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                                        <a href="{{ path('deletecartridgepage', { 'id': cartridge.id }) }}" class="btn btn-danger">Confirmer</a>
                                    </div>
                                </div><!-- /.modal-content -->
                            </div><!-- /.modal-dialog -->
                        </div><!-- /.modal -->
                        <a class="btn btn-warning btn-xs" href="{{ path('commandecartridgepage', { 'id': cartridge.id }) }}" title="Commande"><span class="glyphicon glyphicon-shopping-cart"></span> Commander
                        </a>
    </td>
    
   </tr>
    {% endfor %}
    </tbody>
</table>
</div>
</div>
{% else %}
        <div class="panel panel-warning">
      <div class="panel-heading">Information</div>
      <div class="panel-body">Il n'y a pas de cartouche en stock</div>
    </div>
   {%endif%}
   <a href="{{ path('addcartridgepage') }}" class="btn btn-primary" ><span class="glyphicon glyphicon-plus"></span> Ajouter une Cartouche</a>
{% endblock %}
