{% extends 'base.html.twig' %}

{% block content %}
{%if printers %}
<div class="tab-content">
  <div id="printers" class="tab-pane fade in active">
    <table class="table table-bordered table-striped table-condensed">
   <caption>
      <h4>Liste des Imprimantes en services</h4>
   </caption>
   <thead>
      <tr>
            <th>Marque</th>
            <th>Modele</th>
            <th>Localisation</th>
            <th>Type</th>
            <th>Adresse Ip</th>
            <th>Date d'achat</th>
            <th>garantie</th>
            <th>cartouche noir</th>
            <th>cartouche cyan</th>
            <th>cartouche rouge</th>
      </tr>
   </thead>
   <tbody>
   {% for printer in printers %}
   <tr>
    <td>{{printer.marque}}</td>
    <td>{{printer.modele}}</td>
    <td>{{printer.localisation}}</td>
    <td>{{printer.type}}</td>
    <td><a href="http://{{printer.adresseip}}">{{printer.adresseip}}</a></td>
    <td>{{printer.dateachat|date("m/d/Y")}}</td>
    <td>{{printer.garantie}} ans</td>
    <td>Remplacée {{printer.black}} fois <a href="{{ path('cartridgereplace', { 'id': printer.id, 'slug':'black' }) }}" class="btn btn-info btn-xs" title="Edit"><span class="glyphicon glyphicon-plus"></span>
    </a> <a href="{{ path('cartridgereplaceback', { 'id': printer.id, 'slug':'black' }) }}" class="btn btn-danger btn-xs" title="Edit"><span class="glyphicon glyphicon-minus"></span>
    </a></td>
    <td>Remplacée {{printer.cyan}} fois<a href="{{ path('cartridgereplace', { 'id': printer.id, 'slug':'cyan' }) }}" class="btn btn-info btn-xs" title="Edit"><span class="glyphicon glyphicon-plus"></span>
    </a> <a href="{{ path('cartridgereplaceback', { 'id': printer.id, 'slug':'cyan' }) }}" class="btn btn-danger btn-xs" title="Edit"><span class="glyphicon glyphicon-minus"></span>
    </a></td>
    <td>Remplacée {{printer.red}} fois<a href="{{ path('cartridgereplace', { 'id': printer.id, 'slug':'red' }) }}" class="btn btn-info btn-xs" title="Edit"><span class="glyphicon glyphicon-plus"></span>
    </a> <a href="{{ path('cartridgereplaceback', { 'id': printer.id, 'slug':'red' }) }}" class="btn btn-danger btn-xs" title="Edit"><span class="glyphicon glyphicon-minus"></span>
    </a></td>
    <td>
    <a href="{{ path('editprinterpage', { 'id': printer.id }) }}" class="btn btn-info btn-xs" title="Edit"><span class="glyphicon glyphicon-edit"></span>
    </a>
    <button type="button" class="btn btn-danger btn-xs" title="Delete" data-toggle="modal" data-target="#printerDialog{{ printer.id }}"><span class="glyphicon glyphicon-remove"></span>
                        </button>
                        <div class="modal fade" id="printerDialog{{ printer.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        <h4 class="modal-title" id="myModalLabel">Confirmation nécessaire</h4>
                                    </div>
                                    <div class="modal-body">
                                        Voulez-vous supprimer réellement cette imprimante ?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                                        <a href="{{ path('deleteprinterpage', { 'id': printer.id }) }}" class="btn btn-danger">Confirmer</a>
                                    </div>
                                </div><!-- /.modal-content -->
                            </div><!-- /.modal-dialog -->
                        </div><!-- /.modal -->
    </td>
   </tr>
    {% endfor %}
    </tbody>
</table>
</div>
</div>
{% else %}
        <div class="panel panel-warning">
      <div class="panel-heading">Information</div>
      <div class="panel-body">Il n'y a pas d'imprimantes en service pour le moment</div>
    </div>
   {%endif%}
   <a href="{{ path('addprinterpage') }}" class="btn btn-primary" ><span class="glyphicon glyphicon-print"></span> Ajouter une Imprimante</a>
{% endblock %}
